

<%= render 'shared/header' %>
<%= render 'users/showheader' %>





<div class="row">

  <div class="container user-edit-main">
    <%= render 'users/usershowleft' %>
  </div>

</div>




<%= render 'shared/footer' %>
