

<%= render 'shared/header' %>


    <div class="row">

      <div class="container user-edit-main">
        <%= render 'users/usershowleft' %>

        <%= render 'coacheditright' %>


      </div>



    </div>




<%= render 'shared/footer' %>
