

<%= render 'shared/header' %>



  <div class="container">
    <div class="coach-serch-main">
      <h2><%= fa_icon "ship" %>新着</h2>
      <div class="index-roop">
        <%= render @coachs %>
        
      </div>
    </div>



  </div>



<%= render 'shared/footer' %>
