

<%= render 'shared/header' %>



<div class="row">
  <div class="container user-edit-main">
    <h1>設定</h1>

    <div class="col-md-4 user-edit-left">
      <ul>
        <li><a href="">プロフィール編集</a></li>
        <li><a href="">コーチ設定</a></li>
      </ul>



    </div>

    <div class="col-md-8 user-edit-right">
      .col-md-4
    </div>

</div>
</div>










<%= render 'shared/footer' %>
