
<%= render 'shared/header' %>


<div class="container">



  <div class="row user-show-main">

    <div class="col-md-4 user-show-left">
      <img src="/images/kids.jpg" alt="..." class="img-circle">
    </div>

    <div class="col-md-8 user-show-right">

    </div>

  </div>







<!-- <%= image_tag @user.icon.url %> -->



</div>

<%= render 'shared/footer' %>
