

<%= render 'shared/header' %>


  <div class="about-main">
    <div class="bg-inner">

      <div class="container">


      <h1>選手はコーチを選ぶべきだ</h1>

      <p>選手はコーチを選べない？</p><br>
      <p>そんなこと誰が決めた？</p><br>
      <p>コーチの良し悪しで将来を決めてしまっていいのか？</p>

      <div class="about-btn">
        <a href="">コーチを探す</a>
      </div>


    </div>
  </div>

</div>






<%= render 'shared/footer' %>
