

<%= render 'shared/header' %>


  <div class="about-main">
    <div class="bg-inner">

      <div class="container">


      <h1>選手はコーチを選ぶべきだ</h1>

      <p>選手はコーチを選べない？</p><br>
      <p>そんなこと誰が決めた？</p><br>
      <p>コーチの良し悪しで将来を決めてしまっていいのか？</p>

      <div class="about-btn">
          <%= link_to 'コーチを探す', coachs_path %>
      </div>


    </div>
  </div>

</div>



<div class="company-detail row">
  <div class="container">
    <div class="col-md-6">

        <table>
          <tbody>

            <tr>
              <td class="td1">社名</td>
              <td class="td2">Find Coach!,inc.</td>
            </tr>

            <tr>
              <td class="td1">設立</td>
              <td class="td2">2017年2月14日</td>
            </tr>

            <tr>
              <td class="td1">代表者</td>
              <td class="td2">笹倉 一也</td>
            </tr>

            <tr>
              <td class="td1">所在地</td>
              <td class="td2">滋賀県守山市今浜町2620-5</td>
            </tr>


          </tbody>
        </table>

  </div>
  <!-- col-md-6 -->

    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d8007.5519372140225!2d135.9478597003623!3d35.12250782690485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1487217559189" width="450" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>


  </div>
  <!-- container -->

</div>
<!-- row -->




<%= render 'shared/footer' %>
