// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// home.html.erb


.page-home-main {
  i {
    margin-right: 7px;
  }

  h2 {
    margin-top: 50px;
    margin-bottom: 50px;

  }


}

.caption {
  a {

    width: 100%;
    margin-top: 11px;
  }

}


.thumbnail {
  img {
    height: 200px!important;
  }
}




// about.html.erb


.about-main {
  background-image: url("/images/brown.jpg");
  background-size: cover;
  position: relative;

  h1 {
    color: #FFF;
    position: absolute;
    left: 30px;
    font-size: 50px;
  }

  p {
    color: #FFF;
    position: absolute;
    padding-top: 100px;
  }
}

.bg-inner {
  padding-top: 150px;
  padding-bottom: 350px;
  background-color: rgba(0, 0, 0, .6);
  text-align: center;
}


.about-btn {
  a {
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 3px;
    padding: 10px 30px;
    position: absolute;
    bottom: 70px;
    left: 100px;
  }
  a:hover {
    text-decoration: none;
    background-color: #FFF;
    color: #000;
    transition: all 0.3s ease-out;
  }
}


.company-detail {

  margin-top: 70px;
  margin-bottom: 170px;
  td {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
  }


}

.td1 {

    width: 30%;
    min-width: 100px;
    font-weight: bold;
    font-size: 16px;
    color: #666;

}

.td2 {

    width: 70%;
    font-size: 14px;
    color: #666;

}
