// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// home.html.erb


.page-home-main {
  i {
    margin-right: 7px;
  }

  h2 {
    margin-bottom: 77px;

  }


}

.caption {
  a {
    
    width: 100%;
    margin-top: 11px;
  }

}
