// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// new.html.erb

.user-new-main {



  li {
    list-style: none;

  label {
  }

  }


}



// edit.html.erb

.user-edit-main {

  margin-bottom: 100px;

  h1 {
    margin-bottom: 70px;
  }

}


.user-edit-left {


  li {
    list-style: none;

    a {
      color: #333;
      padding: 20px;
      background-color: #f6f8fa;
      display: block;
    }
  }
}


// show.html.erb

.user-show-main {
  margin-top: 50px;
  margin-bottom: 77px;
}





.user-show-left {
  text-align: center;

    img {
      width: 140px;
      height: 140px;
    }

}

.user-show-right {
  a {
    color: #999;
    border: 1px solid #dbdbdb;
    padding: 5px 10px;
    margin-top: 17px;
    display: inline-block;
    border-radius: 3px;
  }

  a:hover {
    color: #000;
    text-decoration: none;
  }
}
